<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrazione</title>
</head>
<body>
    <h1>Registrazione nuovo utente</h1>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Nome: <input type="text" th:field="*{name}" /></label><br>
        <label>Cognome: <input type="text" th:field="*{surname}" /></label><br>
        <label>Email: <input type="email" th:field="*{email}" /></label><br>
        <label>Password: <input type="password" th:field="*{password}" /></label><br>
        <button type="submit">Registrati</button>
    </form>

    <p>Hai già un account? <a href="/login">Accedi</a></p>
</body>
</html>