<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
    <link rel="stylesheet" th:href="@{/css/book.css}">
</head>
<body>
    <h1>Books</h1>

    <ul>
        <li th:each="book : ${books}">

            <h2 th:text="${book.title}">Fallback title</h2>
                
           <img th:if="${book.imagePath != null}" 
            th:src="${book.imagePath}" 
            alt="Book Image" width="200" />
            
                <a th:href="@{'/books/' + ${book.id}}" th:text="${book.title}"></a>
                <span th:text="${#temporals.format(book.publicationDate, 'yyyy-MM-dd')}"></span>
        </li>
    </ul>

    <a href="/">Back to Home</a>
</body>
</html>
