<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Author Details</title>
</head>
<body>
    <h1>Author Details</h1>
    
    <p><strong>Image:</strong></p> 
    <img th:if="${author.imagePath != null}" 
     th:src="@{${author.imagePath}}" 
     alt="Author Image" width="200" />

    <p><strong>Name:</strong> <span th:text="${author.name}"></span></p>
    
    <p><strong>Surname:</strong> <span th:text="${author.surname}"></span></p>
    
    <p><strong>Date of Birth:</strong> <span th:text="${author.dateOfBirth}"></span></p>

    <a th:href="@{/authors}">Back to Authors List</a>
</body>
</html>
