/* Impostazioni generali */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('/img/libreria.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenitore centrale */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Titolo */
h1 {
    font-size: 3rem;
    color: #332207;
    margin-bottom: 30px;
}

/* Box verde contenente i bottoni */
.button-box {
    background-color: #332207;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Bottoni */
.button-box a {
    background-color: white;
    color: #4CAF50;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button-box a:hover {
    background-color: #388e3c;
    color: white;
}
/* Posiziona il bottone in basso centrato */
.bottom-button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* Stile del bottone */
.bottom-button a {
    background-color: #ffffff;
    color: #332207;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.bottom-button a:hover {
    background-color: #332207;
    color : #ffffff;
}
