<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIW Books - Home</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

    <div class="container">
        <h1>Welcome to SIW Books</h1>

        <div class=" button-box">
            <p><a th:href="@{/login}">Login</a><br></p>
            <p></p><a th:href="@{/register}">Register</a></p>
        </div>
    </div>

    <div class="bottom-button">
    <a th:href="@{/home}">Continue Without Registration</a>
    </div>

</body>
</html>
